*{
    text-decoration: none;
    
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;

   
}

nav a {
    /* padding-top: 5rem; */
    padding: 10px;
    border: 1px solid #ccc;
}

a{
    color: blue;
}